<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Bedrooms</mat-card-title>
        <a mat-flat-button color="primary" [routerLink]="['/ui-components/create-bedroom']" class="download-button">
            Create Bedroom
        </a>
    </mat-card-header>
    <mat-card-content>
        <!-- table-striped -->
        <div class="table-responsive overflow-auto mt-2">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bedroom of bedrooms; let i = index">
                        <th scope="row">{{ (page - 1) * pageSize + (i + 1) }}</th>
                        <td>{{ bedroom.name }}</td>
                        <td>{{ bedroom.quantity }}</td>
                        <td style="padding: 0;">
                            <div class="button-group">
                                <!-- View Icon -->
                                <button mat-icon-button class="btn btn-outline-success me-1" matTooltip="View"
                                    (click)="view(bedroom)">
                                    <i-tabler class="routeIcon" name="eye" matListItemIcon></i-tabler>
                                </button>

                                <!-- Update Icon -->
                                <button mat-icon-button class="btn btn-outline-primary me-1" matTooltip="edit"
                                    (click)="edit(bedroom)">
                                    <i-tabler class="routeIcon" name="pencil" matListItemIcon></i-tabler>
                                </button>

                                <!-- Delete Icon -->
                                <button mat-icon-button class="btn btn-outline-danger me-1" matTooltip="delete"
                                    (click)="delete(bedroom)">
                                    <i-tabler class="routeIcon" name="trash" matListItemIcon></i-tabler>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: center; margin-top: 20px" *ngIf="bedrooms?.length! <= 0">
                No Bed Rooms found
            </div>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #viewModal let-modal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalLabel">Bed Room Details</h5>
                <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ bedroom!.name }}</h4>
                        <!-- <p>Phone: {{ company!.phone?.code }} {{ company!.phone?.number }}</p>
                        <p>
                            Address: {{ company!.address?.city }}, {{ company!.address?.country }}
                        </p>
                        <p>
                            Region: {{ company!.address?.region }}
                        </p> -->
                        <p>Name: {{ bedroom!.name }}</p>
                        <p>Quantity: {{ bedroom!.quantity }}</p>
                        <!-- <p>
                            Created Date: {{ formatDateToCustomFormat(company!.createdAt!) }}
                        </p> -->
                        <!-- <p *ngIf="agent!.status">
                            Status:
                            <span class="badge bg-success">Active</span>
                        </p>
                        <p *ngIf="!agent!.status">
                            Status:
                            <span class="badge bg-danger">Inactive</span>
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>