<mat-progress-bar class="mt10" mode="indeterminate" *ngIf="busy"></mat-progress-bar>

<div class="container">
    <div class="form-wrapper">
        <div class="header">
            <h3 class="center">Create Agent</h3>
            <button mat-raised-button color="primary" type="submit" (click)="createAgent()">Save</button>
        </div>

        <form class="example-form" [formGroup]="form">
            <div class="form-content">
                <div class="form-row">
                    <div class="form-field col-sm-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="form-field col-sm-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="username">
                        </mat-form-field>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-field col-sm-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" type="password">
                        </mat-form-field>
                    </div>

                    <div class="form-field col-sm-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Role</mat-label>
                            <mat-select placeholder="Role" formControlName="roleId"
                                (selectionChange)="onRoleChange($event)">
                                <mat-option *ngFor="let role of roles" [value]="role.id">
                                    {{ role.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-field col-sm-6">
                        <p>
                            <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>