<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Vehicles</mat-card-title>
        <a mat-flat-button color="primary" [routerLink]="['/ui-components/create-vehicle']" class="download-button">
        Create Vehicles
      </a>
    </mat-card-header>
    <mat-card-content>
        <!-- table-striped -->
        <div class="table-responsive overflow-auto mt-2">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <!-- <th scope="col">Logo</th> -->
                        <th scope="col">Vehicle Type</th>
                        <th scope="col">Vehicle Model</th>
                        <th scope="col">Vehicle Capacity</th>
                        <th scope="col">Vehicle Registration</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vehicle of vehicles; let i = index">
                        <th scope="row">{{ (page - 1) * pageSize + (i + 1) }}</th>
                        <td>{{ vehicle.vehicleType }}</td>
                        <td>{{ vehicle.vehicleModel }}</td>
                        <td>{{ vehicle.vehicleCapacity }}</td>
                        <td>{{ vehicle.vehicleRegistration }}</td>
                        <td>
                            <i-tabler *ngIf="vehicle.status" name="circle-check" class="text-success"></i-tabler>
                            <i-tabler *ngIf="!vehicle.status" name="circle-x" class="text-danger"></i-tabler>
                        </td>
                        <td style="padding: 0;">
                            <div class="button-group">
                                <!-- View Icon -->
                                <a mat-icon-button class="btn btn-outline-primary me-1" matTooltip="edit" (click)="editVehicle(vehicle)">
                                    <i-tabler class="routeIcon" name="pencil" matListItemIcon></i-tabler>
                                </a>

                                <!-- Update Icon -->
                                <a mat-icon-button class="btn btn-outline-success me-1" matTooltip="View" (click)="view(vehicle)">
                                    <i-tabler class="routeIcon" name="eye" matListItemIcon></i-tabler>
                                </a>

                                <!-- Delete Icon -->
                                <a mat-icon-button class="btn btn-outline-danger me-1" matTooltip="delete" (click)="delete(vehicle)">
                                    <i-tabler class="routeIcon" name="trash" matListItemIcon></i-tabler>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: center; margin-top: 20px" *ngIf="vehicles?.length! <= 0">
                No Vehicles found
            </div>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #viewModal let-modal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalLabel">Vehicle Details</h5>
                <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Vehicle Type{{ vehicle!.vehicleType }}</h4>
                        <p>Vehicle Model: {{ vehicle!.vehicleModel }}</p>
                        <p>
                            Vehicle Capacity: {{ vehicle!.vehicleCapacity}}
                        </p>
                        <p>
                            Vehicle Registration: {{ vehicle!.vehicleRegistration }}
                        </p>
                        <p>
                            Created Date: {{ formatDateToCustomFormat(vehicle!.createdAt!) }}
                        </p>
                        <p *ngIf="vehicle!.status">
                            Status:
                            <span class="badge bg-success">Active</span>
                        </p>
                        <p *ngIf="!vehicle!.status">
                            Status:
                            <span class="badge bg-danger">InActive</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>